
  .header {
    text-align: center;
    margin-top: 50px;
  }
  .header h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .header p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  .highlight {
    font-weight: bold;
    background-color: #e0e7ff;
    padding: 2px 6px;
    border-radius: 5px;
  }
  .btn {
    background-color: #a855f7;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
  }
  .btn:hover {
    background-color: #f97316;
  }
  footer {
    margin-top: 40px;
    background-color: black;
    color: white;
    padding: 60px 0;
    text-align: center;
    size: 100%;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    font-size: 1.1rem;
  }
  .footer-section {
    width: 30%;
    text-align: left;
  }
  .footer-section h3 {
    font-weight: bold;
  }
  .footer-bottom {
    margin-top: 40px;
    font-size: 0.8rem;
  }
  .social-icons {
    margin-top: 20px;
  }
  .social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  .social-icons a:hover{
    transform: scale(1.05);
  }